<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KTibiaX.Infra.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KTibiaX.Infra.Properties.Settings>
            <setting name="CMDFileName" serializeAs="String">
                <value>cmd.exe</value>
            </setting>
            <setting name="TraceFileName" serializeAs="String">
                <value>trace.txt</value>
            </setting>
        </KTibiaX.Infra.Properties.Settings>
    </userSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="LogFileTraceListener" type="System.Diagnostics.TextWriterTraceListener"
           initializeData="trace.log" />
        <remove name="Default" />
      </listeners>
    </trace>
    <switches>
      <add name="XPO" value="3" />
    </switches>
  </system.diagnostics>
</configuration>